.items_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.items_container section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s ease-out;
}

.items_container section:hover {
   transform: translateY(-15px);
}

.items_container section img {
    width: 220px;
    height: 220px;
}

.items_container section h5 {
    font-size: 19px;
}

.items_container section p {
    font-size: 18px;
    margin-bottom: 15px;
}

.items_container section button{
    font-size: 18px;
    padding: 8px;
    margin-bottom: 20px;
    outline: none;
    background-color: rgb(16, 129, 204);
    color:#fff;
    transition: 0.1s ease-in;
    
}

.items_container section button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(8, 86, 138);
}

