.container {
  display: flex;
  justify-content: center;
}
.container .fav_icon {
  font-size: 120px;
  color: red;
  margin: 20px 0;
}

.items_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 300px;
}

.items_container h2 {
    position: absolute;
    font-size: 31px;
    color: red;
    margin-top: -2px;
    animation: empty 2s ease-in infinite;
}


@keyframes empty {
  0% {
    font-size: 27px;
  }
  15% {
    font-size: 28px;
  }
  25% {
    font-size: 29px;
  }
  35% {
    font-size: 30px;
  }
  50% {
    font-size: 31px;
  }
  65% {
    font-size: 30px;
  }
  75% {
    font-size: 29px;
  }
  85% {
    font-size: 28px;
  }
  100% {
    font-size: 27px;
  }
}

.items_container section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.2s ease-out;
    position: relative;
}

.items_container .remove {
   width: 40px;
   height: 40px;
   position: absolute;
   right: 0;
   color: red;
   transition: 0.2s ease-out;
}
.items_container .remove:hover {
    cursor: pointer;
    transform: rotate(360deg);
}

.items_container section:hover {
   transform: translateY(-15px);
}

.items_container section img {
    width: 220px;
    height: 220px;
}

.items_container section h5 {
    font-size: 19px;
}

.items_container section p {
    font-size: 18px;
    margin-bottom: 15px;
}

.items_container section button{
    font-size: 18px;
    padding: 8px;
    margin-bottom: 20px;
    outline: none;
    background-color: rgb(16, 129, 204);
    color:#fff;
    transition: 0.1s ease-in;
    
}

.items_container section button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(8, 86, 138);
}

