.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    margin-top: 150px;
    height: 250px;
    color: #fff;

    h3 {
        margin-left: 22px;
        margin-bottom: 10px;
    }

    .left_side {
        display: flex;
        flex-direction: row;
        margin-left: 70px;
        padding: 10px;

        .info {
            display: flex;
            flex-direction: column;

            h3,
            h4 {
                margin-bottom: 20px;
                font-size: 17px;
            }

            p {
                margin-top: 2px;
                font-size: 17px;
            }
        }

        &:nth-child(1) {
            margin-top: 20px;
        }
    }
}


.footer_container .idk .icns {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    margin-bottom: 27px;
    margin-right: 10px;
}

.footer_container .right_side {
    width: 400px;
    margin-right: 60px;
}

.footer_container .right_side .about h2 {
    margin-bottom: 10px;
}

.footer_container .right_side .about p {
    margin-bottom: 10px;
}

.footer_container .right_side .about .social_media_icons {
    font-size: 32px;

}

@media only screen and (max-width:600px) {
    .footer_container {
        flex-direction: column;
        height: auto;
    }

    .footer_container .left_side {
        margin-right: 100px;
    }

    .footer_container .right_side {
        margin-left: 110px;
        width: 300px;
    }
}