.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url('https://i.pinimg.com/originals/9c/f5/56/9cf5567e770cb28096371f909296ac0e.jpg');
    background-color: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30vh;
    position: relative;
}

.navbar:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-top: 10px;
    position: relative;
}
.navbar h1 {
    margin-left: 20px;
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    position: relative;
}

.navbar ul li {
    padding: 8px;
    font-size: 18px;
    transition: 0.3s ease-out;
} 

.navbar ul .user{
    background-color: rgb(16, 129, 204);
}
.navbar ul .cart_conainer{
   position: relative;
   display: inline-block;
}


.navbar ul .cart_container{
   position: relative;
   display: inline-block;
}
.navbar ul .cart_container .cart_counter{
    position: absolute;
    top: 0;
    right: 0;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    color:#fff;
    z-index: 11;
}
.navbar ul .profile_container{
   position: relative;
   display: inline-block;
}
.navbar ul .profile_container .favItems_counter{
    position: absolute;
    top: 0;
    right: 0;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    color:#fff;
    z-index: 11;
}

.navbar ul li a{
    display: block;
    text-decoration: none;
    background-color: rgb(46, 46, 46);
    color: #fff;
    padding: 9px;
    border-radius: 3px;
    transition: 0.2s ease-out;
}

.navbar ul li a:hover {
    background-color: rgb(150, 150, 150);
    transform: translateY(-7px);
}

.navbar ul li .user:hover{
    background-color: rgb(8, 86, 138);
    z-index: 10;
}

.navbar ul .user:nth-child(2):hover .navbar ul li span{
    background-color: black;
}

.navbar ul .signIn {
    margin-left: 35px;    
}

.navbar ul .dropdown{
    cursor: pointer;
}

.navbar ul .dropdown_content {
    position: absolute;
    display: none;
}

.dropdown:hover > .dropdown_content{
  display:block;
  flex-direction: column;
  margin-top: 5px;
  cursor: pointer;
  width: 150px;
}

.navbar ul .dropdown .dropdown_content a{
    display: block;
    transition: 0.2s;
    border-radius: 0px;
}

.navbar ul .dropdown .dropdown_content a:hover {
    background-color: rgb(150, 150, 150);
     transform: translateY(0);
}

@media (max-width:600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar h1 {
        margin-left: -150px;
    }

    .navbar ul {
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
    }

    .navbar ul .signIn {
        margin-left: 0px;    
    }

    .navbar ul .dropdown_content {
        position: relative;
    }
}