.contacts_container {
    display: flex;
    justify-content: space-between;
}

.contacts_container form {
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
}

.contacts_container form h2{
  font-size: 31px;
}

.contacts_container form input{
  font-size: 21px;
  padding: 10px;
  outline: none;
  margin-top: 20px;
  width: 400px;
  background-color: #f5f5f5;
}

.contacts_container form textarea{
  font-size: 21px;
  padding: 8px;
  outline: none;
  margin-top: 20px;
  width: 400px;
  background-color: #f5f5f5;
}

.contacts_container form button {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px rgb(16, 129, 204);
    outline: none;
    background-color: rgb(16, 129, 204);
    transition: 0.2s ease-in;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
}

.contacts_container form button:hover {
    background-color: rgb(8, 86, 138);
    cursor: pointer;
}

.contacts_content {
    display: flex;
    flex-direction: row;
    margin: 130px 210px; 
}

.contacts_content .information{
    font-size: 22px;
    margin-top: 20px;
}

.contacts_content .information h3{
  font-size: 20px;
}

.contacts_content .information p{
   margin-top: -20px;
}

.contacts_content .information h4{
   margin-top: 15px;
   font-size: 21px;
   margin-bottom: 23px;
}

.contacts_content .information span{
   color: blue;
}

 .contacts_content .contacts_icons{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
 }

  .contacts_content .contacts_icons ._icons{
    font-size: 40px;
    margin-bottom: 20px;
 }


 @media (max-width:600px) {
     .contacts_container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contacts_container form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: -50px;
    }

    .contacts_container form input,
    .contacts_container form textarea,
    .contacts_container form button {
        width: 300px;
        font-size: 17px;
    }   
}